.post-count {
    scrollbar-width: none;
    color: var(--text-p4);
  }

.totalcount {
    color: var(--text-p4);
  }


#post-meta {
  font-size: 12px; 
  color: var(--text-p4); /* 或 --text-p2，设置为灰色 */
}

